<h1>Listing questions</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Topic</th>
    <th>Qno</th>
    <th>Ques</th>
    <th>Noca</th>
    <th>Ans1</th>
    <th>Ans2</th>
    <th>Ans3</th>
    <th>Cans</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.category_id %></td>
    <td><%= question.topic_id %></td>
    <td><%= question.qno %></td>
    <td><%= question.ques %></td>
    <td><%= question.noca %></td>
    <td><%= question.ans1 %></td>
    <td><%= question.ans2 %></td>
    <td><%= question.ans3 %></td>
    <td><%= question.cans %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
